@import './mocha.css';

* {
	font-family: CaskaydiaMono Nerd Font;
	font-size: 14px;
	font-weight: bold;
}

window#waybar {
	color: #dfdfdf;
	background-color: @crust;
	transition-property: background-color;
	transition-duration: 0.2s;
}

window#waybar.hidden {
	opacity: 0;
}

.modules-left {
	margin-left: 8px;
}

.modules-right {
	margin-right: 8px;
}

#custom-launcher,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#scratchpad,
#mpd,
#language,
#keyboard-state,
#privacy,
#custom-spotify,
#custom-power,
#custom-vlc,
#custom-weather {
	padding: 8px;
	color: #dfdfdf;
	background-color: @crust;
	min-width: 14px;
}

/* --- Left Modules --- */
#workspaces button {
	color: #dfdfdf;
	padding: 0 6px;
	margin: 0 1.5px;
	min-width: 14px;
	background: none;
	box-shadow: none;
	transition: opacity 0.20s ease;
}

#workspaces button.empty {
	opacity: 0.5;
}

#workspaces button.empty.active,
#workspaces button.empty.visible,
#workspaces button.empty:focus {
	opacity: 1;
}

#workspaces button:hover {
	opacity: 1;
}

#workspaces button.urgent {
	color: @red;
}

#workspaces button.occupied {
	color: @yellow;
}

/* --- Center Module --- */
#clock {
	padding: 0 4px;
}

/* --- Right Modules --- */
#custom-expand-icon {
	margin-right: 8px;
}

#tray>.passive {
	-gtk-icon-effect: dim;
}

#tray>.needs-attention {
	-gtk-icon-effect: highlight;
	background-color: @red;
}

#idle_inhibitor {
	color: #dfdfdf;
	padding: 8px 6px;
	background-color: @crust;
	min-width: 14px;
}

#idle_inhibitor.activated {
	color: #dfdfdf;
}

#power-profiles-daemon {
	margin-right: 6px;
	padding: 8px 6px;
	color: #dfdfdf;
	background-color: @crust;
	min-width: 14px;
}

#pulseaudio.muted {
	color: @overlay1;
}

@keyframes blink {
	to {
		background-color: @crust;
		color: rgba(237, 135, 150, 0.5);
	}
}

#battery {
	margin-right: 0;
	padding-right: 6px;
}

#custom-power {
	margin-right: 4px;
}

#battery.critical:not(.charging) {
	color: @red;
	animation-name: blink;
	animation-duration: 1.8s;
	animation-timing-function: steps(20);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/* apply only when Waybar is on the laptop screen (eDP-1) */
window#waybar.eDP-1 .modules-right #pulseaudio {
	margin-right: 6px;
}

window#waybar.eDP-1 .modules-right #battery {
	margin-right: 4px;
	padding-right: 8px;
}